<div class="row my-4">
  <div class="col-md-12">
    <h3>Add Post</h3>
    <hr>
    <form [formGroup]="postForm" (ngSubmit)="onAddPost()">
      <div class="mb-3">
        <label>Title</label>
        <input type="text" class="form-control" formControlName="title"/>
        <div *ngIf="postForm.get('title').touched && !postForm.get('title').valid">
          <div *ngIf="postForm.get('title').errors?.['required']">
            <span class="text-danger"> Title is required</span>
          </div>
          <div *ngIf="postForm.get('title').errors?.['minlength']">
            <span class="text-danger"> Title Should be more than 6 characters</span>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label>Description</label>
        <textarea class="form-control" formControlName="description"></textarea>
      </div>
      <div *ngIf="postForm.get('description').touched && !postForm.get('description').valid">
        <div *ngIf="postForm.get('description').errors?.['required']">
          <span class="text-danger"> Title is required</span>
        </div>
        <div *ngIf="postForm.get('description').errors?.['minlength']">
          <span class="text-danger"> Title Should be more than 10 characters</span>
        </div>
      </div>

      <div class="my-3">
        <button class="btn btn-primary" [disabled]="!postForm.valid">Add Post</button>
      </div>
    </form>
  </div>
</div>
